<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/navbar'); %>
    <%- include('template/educacion'); %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br>
    <center><h1>Contacto</h1></center>
        <br>
    <div class="cole"> 
        
        <br>
        <p>Telefono</p>
        <p>+57 3227254103</p>
        <br>
        <p>Correo</p>
        <p>sebastiandias28001@gmail.com</p>
        <br>
        <p>Nombres</p>
        <p>Juan Sebastian </p>
        <br>
        <p>Apellidos</p>
    </div>
    
   
    
<br><br>
<div>
 </div>
</body>
</html>