<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/navbar'); %>
    <%- include('template/educacion'); %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br>
    <center><h1>Educación</h1></center>
        <br>
    <div class="cole"> 
        <h2><img class="colegio" src="./static/colegio.png" alt=""><br> Educación primaria y secundaria</h2>
        <br>
        <p>Colegio antonio nariño</p>
        <p>2010 - 2021</p>
    </div>
    <br>
    <div class="sena">
        <h2><img class="senas" src="./static/sena.jpg" alt=""><br> Educación Complementaria</h2>
        <p>SENA Técnico en Programación de software</p>
        <p>2020 - 2021</p>
        <br>
        <p>SENA Tecnólogo en Análisis y Desarrollo de Sistemas de Información</p>
        <p>Cursadon Actualmente</p>
    </div>
    <br>
    <div class="cursos">
        <h2><img class="curso" src="./static/salud.jpg" alt="">Cursos para la salud en el trabjo</h2>
        <p>SENA seguridad y salud para el trabajo</p>
        <p>2022</p>
        <br>
        <p>SENA Sistema de gestión de la seguridad y salud en el trabajo</p>
        <p>2022</p>
    </div>
    
<br><br>
<div>
 </div>
</body>
</html>