<%- include('template/header2'); %>
<%- include('template/navbar'); %>
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Diamond Pricing Tables template Responsive, Login form web template,Flat Pricing w3tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- Default-JavaScript-File -->
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //Default-JavaScript-File -->

<!-- default-css-files -->
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<!-- default-css-files -->

<link href="css/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- popup css -->  

<!-- style.css-file -->
  <link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- //style.css-file -->

<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

</head>
<!-- Head -->



      
        
    
   </div>

<div class="plans-section">
  <div class="plans-main">
    <h1 class="w3l-inner-h-title">Estas son mis Habilidades en cuanto a lenguajes</h1>
         <div class="price-grid">
          <div class="price-block agile">
            <div class="price-gd-top pric-clr1">
              <i class="fa fa-diamond" aria-hidden="true"></i>
              <h4>Regular  </h4>
              <h3>Java</h3>
              <h5>Tengo un basico en java solo 1 projecto</h5>
              <img class="java" src="/static/java.jpg">
            </div>
            <div class="price-gd-bottom">
                 <div class="price-list">
                
                
                  <ul>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                  
                     </ul>
              </div>
              <div class="price-selet pric-sclr1">                 

              </div>
            </div>
          </div>
        </div>
        <div class="price-grid ">
          <div class="price-block price-block1 agile">
            <div class="price-gd-top pric-clr2">
              <i class="fa fa-diamond" aria-hidden="true"></i>
              <h4>BASICO</h4>
              <h3>PHP</h3>
              <h5>Practico por mi propia cuenta y 1 curso de plazi</h5>
              <img class="php" src="/static/php.jpg">
            </div>
            <div class="price-gd-bottom">
              <div class="price-list">
                  <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                  
                </ul>
                
              </div>
              <div class="price-selet pric-sclr2">
                

              </div>
            </div>
          </div>
        </div>
        <div class="price-grid lost">
          <div class="price-block price-block2 agile">
            <div class="price-gd-top pric-clr3">
              <i class="fa fa-diamond" aria-hidden="true"></i>
              <h4>HTML Y CSS</h4>
              <h3><span></span>ALTO</h3>
              <h5>Lo manejo casi para todo y mas que todo en los proyectos</h5>
              <img class="html" src="/static/htmlycss.png">
            </div>
            <div class="price-gd-bottom">
              <div class="price-list">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  
                </ul>
              </div>
              <div class="price-selet pric-sclr3">
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="clear"></div>
  </div>
</div>

  <div class="wthree_pop_up"> 
    <div id="small-dialog" class="mfp-hide agile_signup_form">
   

   

</body>
</html>

    
